/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .site-flex-margin {
    margin-right: 1rem !important;
  }

  .site-flex-font {
    font-size: 50%;
  }

  .site-div-float-left {
    float: none;
  }

  .site-div-float-right {
    float: none;
  }

  .site-header-subtitle-padding {
    padding-bottom: 5%;
  }

  #site-tab-overview-wrapper {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f1f7fd;
  }

  #site-tab-overview-img {
    width: 10rem;
  }

  #site-tab-overview-intro {
    padding: 5%;
  }

  #site-tab-overview-intro-highlight-1 {
    padding: 2%;
    margin-right: 1%;
    float: left;
  }

  #site-tab-overview-intro-highlight-2 {
    padding: 2%;
    margin-right: 1%;
    float: left;
  }

  #site-tab-overview-intro-highlight-3 {
    padding: 2%;
    margin-right: 1%;
    float: left;
  }

  .site-tab-header {
    padding: 0%;
  }

  .site-tab-overview-competencies-icon-name-col-spacer {
    width: 15rem;
    padding-bottom: 5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .site-flex-font {
    font-size: 60%;
  }

  .site-div-float-left {
    float: none;
  }

  .site-div-float-right {
    float: none;
  }

  .site-header-subtitle-padding {
    padding-bottom: 4%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f1f7fd;
  }

  #site-tab-overview-img {
    width: 10rem;
  }

  #site-tab-overview-intro {
    padding: 5%;
  }

  #site-tab-overview-intro-highlight-1 {
    padding: 2%;
    margin-right: 1%;
    float: left;
  }

  #site-tab-overview-intro-highlight-2 {
    padding: 2%;
    margin-right: 1%;
    float: left;
  }

  #site-tab-overview-intro-highlight-3 {
    padding: 2%;
    margin-right: 1%;
    float: left;
  }

  .site-tab-overview-competencies-icon-name-col-spacer {
    width: 15rem;
    padding-bottom: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .site-flex-font {
    font-size: 80%;
  }

  .site-div-float-left {
    float: left;
  }

  .site-div-float-right {
    float: right;
  }

  .site-header-subtitle-padding {
    padding-bottom: 3%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f1f7fd;
  }

  #site-tab-overview-img {
    width: 10rem;
  }

  #site-tab-overview-intro {
    padding: 2%;
  }

  #site-tab-overview-intro-highlight-1 {
    padding: 2%;
    margin-right: 1%;
    float: left;
    margin-left: 10%;
  }

  #site-tab-overview-intro-highlight-2 {
    padding: 2%;
    margin-right: 1%;
    float: left;
    margin-left: 10%;
  }

  #site-tab-overview-intro-highlight-3 {
    padding: 2%;
    margin-right: 1%;
    float: left;
    margin-left: 10%;
  }

  .site-tab-overview-competencies-icon-name-col-spacer {
    width: 15rem;
    padding-bottom: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .site-flex-font {
    font-size: 100%;
  }

  .site-div-float-left {
    float: left;
  }

  .site-div-float-right {
    float: right;
  }

  .site-header-subtitle-padding {
    padding-bottom: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-wrapper {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f1f7fd;
  }

  #site-tab-overview-img {
    width: 12rem;
  }

  #site-tab-overview-intro {
    padding: 2%;
  }

  #site-tab-overview-intro-highlight-1 {
    padding: 2%;
    margin-right: 1%;
    float: left;
    margin-left: 10%;
  }

  #site-tab-overview-intro-highlight-2 {
    padding: 2%;
    margin-right: 1%;
    float: left;
    margin-left: 10%;
  }

  #site-tab-overview-intro-highlight-3 {
    padding: 2%;
    margin-right: 1%;
    float: left;
    margin-left: 10%;
  }

  .site-tab-overview-competencies-icon-name-col-spacer {
    width: 15rem;
    padding-bottom: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .site-flex-font {
    font-size: 100%;
  }

  .site-div-float-left {
    float: left;
  }

  .site-div-float-right {
    float: right;
  }

  .site-header-subtitle-padding {
    padding-bottom: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-wrapper {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f1f7fd;
  }

  #site-tab-overview-img {
    width: 14rem;
  }

  #site-tab-overview-intro {
    padding: 2%;
  }

  #site-tab-overview-intro-highlight-1 {
    padding: 2%;
    margin-right: 50%;
    float: left;
    margin-left: 50%;
  }

  #site-tab-overview-intro-highlight-2 {
    padding: 2%;
    margin-right: 5%;
    float: left;
    margin-left: 50%;
  }

  #site-tab-overview-intro-highlight-3 {
    padding: 2%;
    margin-right: 50%;
    float: left;
    margin-left: 50%;
  }

  .site-tab-overview-competencies-icon-name-col-spacer {
    width: 15rem;
    padding-bottom: 0%;
  }
}

/* Common */
#site-header {
  top: 0;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #000f1f;
}

#site-header-link-download {
  text-align: right;
}

.site-header-title {
  color: #ffffff;
  line-height: normal;
}

.site-header-download {
  line-height: normal;
}

.site-header-subtitle-color {
  color: #ffffff;
}

.site-tab-overview-img-common {
  margin-top: 0%;
  aspect-ratio: 1;
  border-radius: 10%;
}

.site-tab-overview-skill-img-common {
  width: 1rem;
  margin-top: 0%;
  aspect-ratio: 1;
  border-radius: 10%;
  float: left;
  margin-right: 2%;
}

.site-tab-personal-img-common {
  width: 1rem;
  margin-top: 0%;
  aspect-ratio: 1;
  border-radius: 10%;
  margin-right: 2%;
}

/* new */
.site-tab-headline {
  font-weight: bold;
  font-size: xx-large;
}

.site-tab-sub-headline {
  font-weight: normal;
  font-size: large;
  color: #637689;
}

.site-tab-topic {
  font-weight: normal;
  font-size: medium;
}

#site-overview-core-competencies {
  margin-top: 5%;
}

#site-overview-skills-matrix {
  margin-top: 5%;
}

.site-overview-skill-topics {
  margin-left: 5%;
  margin-right: 1%;
}

.site-overview-skill-topic-group {
  width: 100%;
}

.site-tab-overview-software-skills-group {
  width: 10rem;
}

.site-tab-overview-software-skills-icon-name-spacer {
  width: 0.5rem;
}

.site-tab-overview-software-skills-icon-name-col-spacer {
  width: 10rem;
}

#site-overview-work-experience {
  margin-top: 5%;
}

#site-overview-education {
  margin-top: 5%;
}

.site-tab-overview-skill-item {
  width: 10rem;
}

#site-overview-work-experience-accordion-wrapper-div {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

#site-overview-education-accordion-wrapper-div {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

#site-overview-title {
  padding-bottom: 1%;
}

a {
  color: #096bdb;
}
