/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .site-flex-margin {
    margin-right: 1rem !important;
  }

  .site-flex-font {
    font-size: 50%;
  }

  .site-header-subtitle-padding {
    padding-bottom: 5%;
  }

  #site-tab-overview-header {
    padding-left: 0%;
    padding-right: 0%;
  }

  #site-tab-overview-img {
    width: 6rem;
  }

  .site-tab-header {
    padding: 0%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .site-flex-font {
    font-size: 60%;
  }

  .site-header-subtitle-padding {
    padding-bottom: 4%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-header {
    padding-left: 0%;
    padding-right: 0%;
  }

  #site-tab-overview-img {
    width: 8rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .site-flex-font {
    font-size: 80%;
  }

  .site-header-subtitle-padding {
    padding-bottom: 3%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-header {
    padding-left: 2%;
    padding-right: 2%;
  }

  #site-tab-overview-img {
    width: 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .site-flex-font {
    font-size: 100%;
  }

  .site-header-subtitle-padding {
    padding-bottom: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-header {
    padding-left: 2%;
    padding-right: 2%;
  }

  #site-tab-overview-img {
    width: 12rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .site-flex-font {
    font-size: 100%;
  }

  .site-header-subtitle-padding {
    padding-bottom: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  #site-tab-overview-header {
    padding-left: 2%;
    padding-right: 2%;
  }

  #site-tab-overview-img {
    width: 14rem;
  }
}

/* Common */
#site-header {
  top: 0;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  padding-bottom: 0%;
  background-color: #000f1f;
}

#site-header-link-download {
  text-align: right;
}

.site-header-title {
  color: #ffffff;
  line-height: normal;
}

.site-header-download {
  line-height: normal;
}

.site-header-subtitle-color {
  color: #ffffff;
}

#site-tab-overview-intro {
  margin-top: 1%;
}

.site-tab-overview-img-common {
  margin-top: 0%;
  aspect-ratio: 1;
  border-radius: 5%;
}

.site-tab-overview-title {
  color: #000f1f;
  line-height: normal;
}

#site-tab-overview-skills {
  margin-top: 1%;
}

.site-tab-bullet {
  padding: 2%;
}

.site-tab-bullet-group {
  background-color: #f1f2f4;
}
