/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #site-tab-overview-header {
    padding-left: 0%;
    padding-right: 0%;
  }

  .site-tab-header {
    padding: 0%;
    margin-right: 1rem !important;
  }

  .site-flex-font {
    font-size: 50%;
  }

  #site-tab-overview-img {
    width: 50%;
    margin: 10%;
    margin-top: 0%;
    aspect-ratio: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #site-tab-overview-header {
    padding-left: 0%;
    padding-right: 0%;
  }

  .site-tab-header {
    padding: 1%;
  }

  .site-flex-font {
    font-size: 60%;
  }

  #site-tab-overview-img {
    width: 50%;
    margin: 10%;
    margin-top: 0%;
    aspect-ratio: 1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #site-tab-overview-header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  .site-flex-font {
    font-size: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #site-tab-overview-header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  .site-flex-font {
    font-size: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #site-tab-overview-header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .site-tab-header {
    padding: 1%;
  }

  .site-flex-font {
    font-size: 100%;
  }
}

/* Common */
#site-header {
  top: 0;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  padding-bottom: 0%;
  background-color: #000f1f;
}

#site-header-link-download {
  text-align: right;
}

#site-tab-overview-intro {
  margin-top: 1%;
}

.site-header-title {
  color: #ffffff;
  line-height: normal;
}

.site-header-download {
  line-height: normal;
}

.site-header-subtitle {
  color: #ffffff !important;
}
